.App {
  text-align: center;
  background-color: #286DDF; /* This sets the background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Page img {
  max-width: 100%; /* Ensure it does not overflow width */
  max-height: 100vh; /* Ensure it does not overflow height */
  object-fit: contain; /* Ensure aspect ratio is maintained without cropping */
}


@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
  70% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.pop-animation {
  animation: pop 0.6s ease-out forwards;
}

@keyframes easeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ease-in {
  animation: easeInAnimation 0.3s ease-in forwards;
}

.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* This will take the full height of the viewport */
}

.title, .photo, .Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Take full width to center content */
}


.Menu {
  justify-content: space-around; /* This will space out your menu items evenly */
}

/* Add any additional styles you need for your images */
.favoritegoose, .rolodex, .matching, .chatting, .appearance {
  max-width: 100%; /* Ensure it doesn't overflow its container */
  height: auto; /* Maintain aspect ratio */
}

.favoritegoose, .welcome{
  margin-bottom: 50px;
}

.photo{
  margin-bottom:60px;
}

.rolodex{
  width: 371px;
  height: 486px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rolodexbody{
  position: absolute;
  bottom: 0;
}

.rolodexwheel{
  position: absolute;
  z-index: 3;
}

.yesorno {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.above{
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagebackground, .pagebackground2{
  position: relative;
}

.buttons, .info{
  width: 299px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.pic{
  width: 134px;
  height: 134px;
  background-color: gray;
  margin-left: 21px;
  margin-right: 15px;
}

.bio{
  color: black;
  font-size: 17px;
  font-family: "itc-american-typewriter", serif;
  font-weight: 300;
  font-style: italic;
  width: 108px;
  margin-right: 21px;
}

.yes{
  margin-right: 45px;
  margin-left: 10px;
}

.notepad-wrapper {
  position: relative; /* Make the wrapper container positioned relative */
  width: 100%;
  height: 100%;
}

.notepad {
  position: absolute; /* Position the notepad absolutely within the wrapper */
  bottom: 0; /* Align the notepad to the bottom of the wrapper */
  left: 50%; /* Center the notepad horizontally */
  transform: translateX(-50%); /* Adjust to horizontally center the notepad */
}

.notepad_input{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputstart{
  position: absolute;
  z-index: 2;
}

.input_text{
  border: none;
  font-family: "itc-american-typewriter", serif;
  font-weight: 500;
  background-color: #f8f8f0;
  margin-left: 6px;
  width: 268px;
}

.inputstart{
  top: 30px;
}

.submit{
  font-family: Helvetica;
  font-weight: 700;
  font-size: 19px;
  color: white;
  background-color: #286ddf;
  width: 145px;
  height: 46px;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 165px;
  cursor: pointer;
}

.initial_information{
  margin-top: 13px;
  display: flex;
}

.question{
  font-family: "itc-american-typewriter", serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  font-style: italic;
  width: 299px;
}

.askname, .askage, .askbio{
  position: absolute;
  z-index: 2;
  text-align: left;
  padding-left: 22px;
  width: 299px;
}

.askname{
  top: 116px;
}

.askage{
  top: 221px;
}

.askbio{
  top: 326px;
}

.semicolon{
  width: 4px;
}

textarea{
  border: none;
  font-family: "itc-american-typewriter", serif;
  font-weight: 500;
  background-color: #f8f8f0;
  margin-left: 6px;
  width: 268px;
}

.loading-container {
  width: 80px;
  height: 100px;
}

.loading-dots {
  display: flex;
  justify-content: space-between;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  animation: jump 0.5s ease-in-out infinite alternate;
  margin-top: 15px; 
}

.dot:nth-child(1) {
  animation-delay: 0.4s;
}

.dot:nth-child(2) {
  animation-delay: 0.6s; /* Adjust the delay between each dot */
}

.dot:nth-child(3) {
  animation-delay: 0.8s; /* Adjust the delay between each dot */
}

.dot:nth-child(4) {
  animation-delay: 1s; /* Adjust the delay between each dot */
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}